
/**
 * general
 */

* {
	box-sizing: border-box;
	transition-property: color, fill, background-color, border-color, box-shadow, opacity;
	transition-duration: 0.21s;
}
body {
	font-family: Segoe UI, Tahoma, sans-serif;
	font-size: 12.5px;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}


/**
 * tips
 */

#local #\.controls .inputs-wrapper::after {
	content: 'untill restarted';
	padding-right: 10px;
}

*:not(:empty) + .if-empty {
	display: none;
}


/**
 * state
 */

.options-host.disabled {
	opacity: .6;
}
.options-host.disabled input[data-id="disable"],
.options-host:not(.disabled) input[data-id="enable"],
#local input[data-id="update"],
#local input[data-id="remove"],
#local .pref-name-edit,
.pref-name-include.empty
{ display: none; }


/**
 * sizes and spacing
 */

.options-host {
	margin: 7px;
}

.pref-name-id {
	font-size: 125%;
}

.pref-name-name,
.pref-name-controls,
.toggle-switch {
	display: inline-block;
}
.pref-name-name input,
.pref-name-controls input,
.toggle-switch {
	height: 25px;
}

.pref-name-name input {
	width: 340px;
	max-width: calc(100vw - 45px);
	margin-right: 10px;
}
.pref-name-controls input {
	margin-right: 5px;
}

#\.controls input {
	width: 80px;
}

.pref-name-edit,
.pref-name-include {
	display: inline;
	width: 100%;
	vertical-align: top;
	line-height: 24px;
}
.pref-name-edit .pref-children,
.pref-name-include .pref-children {
	border: none; padding: 0; margin: 5px 0 20px 0;
}
.pref-name-edit .reset-values,
.pref-name-include>.reset-values {
	display: none;
}
.pref-name-edit textarea {
	resize: vertical; width: 100%; min-height: 30vh;
}
.pref-name-include .input-row>* {
	display: inline-block;
}
.remove-value-entry,
.add-value-entry {
	width: 25px; height: 25px;
	margin: 0 3px 3px 0;
}


/**
 * inputs
 */

input, textarea {
	border-style: solid;
	border-width: 1px;
	outline: none;
	border-radius: 3px;
	padding: 2px 7px;
	height: 25px;
	font-size: 110%;
}
input:focus, input:active:focus {
	outline: none;
}
input:active:focus {
	transition-delay: 0.06s;
}


/**
 * collapsing lists
 */

.toggle-switch>* {
	display: inline-block;
	vertical-align: middle;
}
input.toggle-switch ~ label.toggle-switch {
	cursor: pointer;
}
.toggle-marker {
	font-size: 165%;
	padding-right: 5px;
	transition: transform 0.12s;
	transform-origin: 43% 57%;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
input.toggle-switch:checked ~ *>.toggle-marker {
	transform: rotate(90deg);
}
input.toggle-switch,
input.toggle-switch:not(:checked) ~ *:not(.toggle-switch) {
	display: none;
}
