
/**
 * tips
 */

#local #\.controls .inputs-wrapper::after {
	content: 'untill restarted';
	padding-right: 10px;
}

*:not(:empty) + .if-empty {
	display: none;
}


/**
 * state
 */

.options-host.disabled {
	opacity: .6;
}
.options-host.disabled input[data-id="disable"],
.options-host:not(.disabled) input[data-id="enable"],
#local input[data-id="update"],
#local input[data-id="remove"],
#local .pref-name-edit,
.pref-name-include.empty,
.pref-name-options.empty
{ display: none; }


/**
 * sizes and spacing
 */

.options-host {
	margin: 7px;
}

.pref-name-id {
	font-size: 125%;
}

.pref-name-name,
.pref-name-controls,
.toggle-switch {
	display: inline-block;
}
.pref-name-name input,
.pref-name-controls input,
.toggle-switch {
	height: 25px;
}

.pref-name-name input:not(#foo) {
	width: 335px;
	max-width: calc(100vw - 45px);
	margin-right: 10px;
}
.pref-name-controls input {
	margin-right: 5px;
}

#\.controls input {
	width: 80px;
}

.pref-name-edit,
.pref-name-include,
.pref-name-options {
	display: inline;
	width: 100%;
	vertical-align: top;
	margin-right: 1em;
}
.pref-name-edit>.toggle-switch,
.pref-name-include>.toggle-switch,
.pref-name-options>.toggle-switch {
	line-height: 26px;
}
.pref-name-edit>.toggle-switch>*,
.pref-name-include>.toggle-switch>*,
.pref-name-options>.toggle-switch>* {
	display: inline-block;
	vertical-align: middle;
}
.pref-name-edit>.toggle-target,
.pref-name-include>.toggle-target,
.pref-name-options>.toggle-target {
	margin-top: 8px;
}
.pref-name-edit .pref-children {
	border: none; padding: 0; margin: 5px 0 20px 0;
}
.pref-name-edit .reset-values,
.pref-name-include>.reset-values,
.pref-name-options>.reset-values {
	display: none;
}
.pref-name-edit textarea {
	resize: vertical; border-color: white;
	min-width: calc(100vw - 50px); min-height: 30vh;
}
.pref-name-include .input-row>*,
.pref-name-options .input-row>* {
	display: inline-block;
}
.pref-name-include .pref-children,
.pref-name-options .pref-children {
	margin: 5px 0 5px 0;
	border-radius: 3px;
}
.pref-name-include .pref-children .pref-title,
.pref-name-options .pref-children .pref-title {
	display: block;
	font-size: 120%;
	font-weight: bold;
	margin: 5px 0 3px 0;
}
.pref-name-include .pref-children .pref-description,
.pref-name-options .pref-children .pref-description {
	display: block;
	margin: 3px 0 5px 0;
}
.pref-name-include .pref-children .values-container,
.pref-name-options .pref-children .values-container {
	margin: 5px 0;
}
.pref-name-include input[type="text"] {
	max-width: 250px;
}
.remove-value-entry,
.add-value-entry {
	margin: 0 3px 3px 0;
}

/* "create local copy" button */
.pref-name-edit>.toggle-target>.values-container,
.pref-name-edit>.toggle-target>.values-container>.input-row,
.pref-name-edit>.toggle-target>.values-container>.input-row>.inputs-wrapper,
.pref-name-edit>.toggle-target>.values-container>.input-row>.inputs-wrapper>.input-wrapper
{ display: inline; }
.pref-name-edit>.toggle-target>.values-container>.input-row>.inputs-wrapper>.input-wrapper input {
	border: none; background: none;
	outline: none; box-shadow: none;
	height: unset; font-size: unset; padding: 0;
	cursor: pointer; text-decoration: underline;
}
.pref-name-edit>.toggle-target>.values-container>.input-row>.inputs-wrapper>.input-wrapper span {
	padding: 0; font-size: unset;
}

/**
 * reset
 */

.pref-title,
.pref-description {
	font-weight: unset;
	font-size: unset;
	margin: unset;
	display: unset;
}

.input-row, .add-value-entry {
	margin-bottom: unset;
}

input.toggle-switch:not(:checked) ~ :not(.toggle-switch) {
	display: none;
}
